@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

h1, h2, h3{
	font-family: "Raleway", sans-serif;
}
a, p {
	font-family: "Roboto", sans-serif;
}

.logo-text {
	fill:black;
	font-size: 30px;
	font-family: "Roboto", sans-serif;
}


body {
	background-color: #d9d9d9;
}
